@import 'tailwindcss';

@config '../../tailwind.config.ts';

:root {
  --font-raleway: sans-serif; /* fallback, overridden by Next.js */
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url('/crossword.png');
  background-repeat: repeat;
  font-family: var(--font-raleway), sans-serif;
}
